@import '../styles.scss';
@import '../colors.scss';

body {
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right:auto;
    background-color: $tertiarycolor;
}
#mainheader {
    background-color: $primarycolor;
    height: 38px;
    display: table;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;

}
nav {
    height: 38px;
    margin:0 auto;
    color: $fontcolor;
    width: 60%;
    display: table-cell;
    position: relative;


    a {
        color: $fontcolor;
        text-decoration: none;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    }
    ul {
        list-style-type: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        position: absolute;
        right: 0px;

        li{
            text-align: center;
            display:inline-block;
            padding: 4px 8px;
            background-color: $primarycolor;
            margin: 4px 2px;
        }
        li:hover {
            background-color: $highlightcolor;
        
        }

    }

}
.header-text {
    width: calc(39% - 4px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 4px;
    font-weight: 600;
    color: $fontcolor;
    display: table-cell;
    vertical-align: middle;

}